.idea
log/*
output/bin
*.user

# 自动导表工具生成
output/res/data
output/bin/*
tools/auto-export-excel-tool/log/*
tools/auto-export-excel-tool/main.exe
tools/auto-export-excel-tool/pb/data/data_common.pb.go

# 战斗校验
src/battleserver
src/battleserver/bin
src/battleserver/obj
src/battleserver/.vs
output/res/battle/*

src/excel/data
src/excel/pb
src/excel/proto
src/common/datalog/proto/logcmd
vendor
output/bin/win/actorserver.exe
output/bin/win/gateserver.exe
output/bin/win/lobbyserver.exe
output/bin/win/loginserver.exe
output/bin/win/musaectl.exe
output/bin/win/filebeat-prom.exe
/filebeat/
/filebeat-prom/
/filebeat-datalog/
tools/gin-vue-admin/server/server.exe
gate_error.log
promtail-positions.yaml
tools/gin-vue-admin/server/gmserver.exe
tools/version/android
tools/version/log
filebeat-metric